################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ArchitectureAndDesignPatterns_CW_ContentManagingSystem
/CMakeFiles
/ContentManagingSystem.dir/Debug
/Debug
/lib/Debug
/x64/Debug
/_deps
/ZERO_CHECK.vcxproj.filters
/ZERO_CHECK.vcxproj
/RUN_TESTS.vcxproj.filters
/RUN_TESTS.vcxproj
/INSTALL.vcxproj.filters
/INSTALL.vcxproj
/CTestTestfile.cmake
/ContentManagingSystem[1]_tests.cmake
/ContentManagingSystem[1]_include.cmake
/ContentManagingSystem.vcxproj.user
/ContentManagingSystem.vcxproj.filters
/ContentManagingSystem.vcxproj
/cmake_install.cmake
/CMakeLists.txt.bak
/CMakeCache.txt
/ArchitectureAndDesignPatterns_CW_ContentManagingSystem.sln
/ALL_BUILD.vcxproj.user
/ALL_BUILD.vcxproj.filters
/ALL_BUILD.vcxproj
/ContentManagingSystem[1]_tests.cmake
/ContentManagingSystem[1]_include.cmake
